* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.stats-back-btn {
    top: 0;
    background-color: transparent;
    border: hidden;
    position: absolute;
}

.centered {
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.leaderboard {
    width: 80%;
    height: 90%;
    border-radius: 26px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, .3);
    overflow: hidden;
}

.title {
    height: 100%;
    width: 100%;
    top: 40%;
    position: relative;
    display: flex;
    -webkit-tap-highlight-color: transparent;
}

.title h3 {
    color: #FCFCFC;
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
    flex: auto;
}


.leaderboard-header {
    top: 0;
    height: 10%;
    width: 100%;
    background-color: #1D8FE1;
    position: absolute;
    padding: 0 28px;
}

.leaderboard-body {
    top: 10%;
    width: 100%;
    height: 90%;
    background-color: #FFFFFF;
    position: absolute;
}

.fa {
    font-size: 22px;
    color: black;
    -webkit-tap-highlight-color: transparent;
}

.padding-font {
    padding: 12px 10px;
    font-size: x-large;
    font-weight: 700;
    width: 24%;
    text-align: center;
}

.padding-font-timestamp {
    padding: 12px 10px;
    font-size: x-large;
    font-weight: 700;
    width: 50% !important;
    text-align: center;
}

.player-logo {
    height: 40px;
    margin: 0px 5%;
}

.player-li {
    font-size: 20px;
    width: 18%;
    text-align: center;
    line-height: 2;
}

.timestamp {
    width: 34%;
    font-size: 20px;
    text-align: center;
    line-height: 2;
}


@media screen and (max-width: 866px) {
    .leaderboard {
        width: 90%;
    }

    .timestamp,
    .padding-font-timestamp {
        display: none;
    }

    .player-li {
        width: 30%;
    }

    .padding-font {
        width: 25%;
    }

    .player-logo {
        margin: 0px 8%;
    }
}

@media screen and (max-width: 454px) {
    .leaderboard {
        width: 90%;
    }

    .padding-font {
        font-size: larger;
    }

    .player-logo {
        margin: 0px 5%;
    }
}