* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
}

.centered {
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.leaderboard {
    width: 80%;
    height: 550px;
    border-radius: 5%;
    box-shadow: 0 8px 40px rgba(0, 0, 0, .3);
    overflow: hidden;
}

.leaderboard-header div {
    float: left;
}

.title {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
}

.title h3 {
    color: #FCFCFC;
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
    flex: auto;
}


.leaderboard-header {
    top: 0;
    height: 10%;
    width: 100%;
    background-color: #1D8FE1;
    position: absolute;
    padding: 20px 20px 0 20px;
}

.leaderboard-body {
    top: 10%;
    width: 100%;
    height: 90%;
    background-color: #FFFFFF;
    position: absolute;
}

.fa {
    font-size: 22px;
    color: black;
}

.padding-font {
    padding: 12px 10px;
    font-size: x-large;
    font-weight: 700;
    width: 24%;
    text-align: center;
}

.player-logo {
    height: 44px;
    margin: 0px 5%;
}

.player-li {
    font-size: 20px;
    width: 18%;
    text-align: center;
    line-height: 2;
}

.timestamp {
    width: 34%;
    font-size: 20px;
    text-align: center;
    line-height: 2;
}